<form action="/login" method="post" id="login">
  <label for="username">Username:</label>
  <input name="username" id="username">
  <label for="password">Password:</label>
  <input name="password" id="password" type="password">
  <button>Log In</button>
</form>